# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.env
.env
.venv/
venv/
*.sqlite3
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data & results
data/
results/

# Model weights
models/
*.pt
*.bin
*.ckpt

# VSCode / IDE
.vscode/
.idea/

# Docker
*.dockerignore
