# Python cache files
__pycache__/
*.pyc

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Data and results
data/
results/

# Environment files
.env
*.env

# VS Code settings
.vscode/

# MacOS or Windows system files
.DS_Store
Thumbs.db
